&lt;appSettings>
    &lt;add key="token" value="********************************"/>
    &lt;add key="paypalemail" value="**************@gmail.com"/>

    &lt;!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    &lt;add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>

    &lt;add key="FailedURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>

    &lt;add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>

&lt;/appSettings>